body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, black, #333333);
    color: white;
    margin: 0;
    padding: 0
}

h1,
h2,
h3 {
    color: whitesmoke;
    /* Цвет заголовков */
}


.header-custom {
    background: rgba(0, 0, 0, 0.7);
    padding: 50px 0;
    border-bottom: 2px solid #444;
}

.header-title {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    color: #f8f9fa;
}

.header-subtitle {
    font-size: 1.2em;
    margin-top: 10px;
    color: #dcdcdc;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.artist-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.carti {
    height: 200px;
    overflow: hidden;
}

.artist-card:hover {
    transform: scale(1.05);
}

.artist-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.btn-primary {
    background-color: #dc3545;
    border: none;
}

.btn-primary:hover {
    background-color: #c82333;
}